# Smart Logic & List/Dictionaries

### Given nums = [2, 4, 6, 8, 10], create a list of squares using:

* Normal loop
* List comprehension

In [1]:
nums = [2,4,6,8,10]

In [3]:
#Normal Loop
norm_list = []
for i in range(len(nums)):
    norm_list.append(nums[i]**2)
print(norm_list)

[4, 16, 36, 64, 100]

In [5]:
#List Comprehension
comp_lst = [i**2 for i in nums]
print(comp_lst)

[4, 16, 36, 64, 100]

### From the list ['apple','banana','cherry','date'], make a dictionary mapping each fruit → its length.

In [6]:
fruits = ['apple','banana','cherry','date']
fruit_dict = {fruit:len(fruit) for fruit in fruits}
print(fruit_dict)

{'apple': 5, 'banana': 6, 'cherry': 6, 'date': 4}

### Extract all unique characters from "dataanalysis" and return them as a sorted list.

In [7]:
word = "dataanalysis"
word = sorted(list(set(word)))
word

['a', 'd', 'i', 'l', 'n', 's', 't', 'y']

### Given a sentence, count the frequency of each vowel using a dictionary comprehension.

In [8]:
sentence = "This is a test sentence for the given problem."
sentence = sentence.upper()
vowel_dict = {vowel:sentence.count(vowel) for vowel in ['A','E','I','O','U']}
vowel_dict

{'A': 1, 'E': 7, 'I': 3, 'O': 2, 'U': 0}

### Write a one-liner to remove all even numbers from [1-20].

In [9]:
one_liner = [i for i in range(21) if i%2!=0]
one_liner

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Lambda, Map, Filter, Reduce

### Use map() to convert a list of Celsius temps [0,10,20,30,40] → Fahrenheit.

In [11]:
def to_farenheit(c):
    return (c * (9/5)) + 32

temps = [0,10,20,30,40]
farenheit_temp = list(map(to_farenheit,temps))
farenheit_temp

[32.0, 50.0, 68.0, 86.0, 104.0]

### Use filter() to keep only names with length > 5 from ['Rohit','John','Bidisha','Ankur','Chris'].

In [12]:
def name_check(name):
    return len(name) > 5

names = ['Rohit','John','Bidisha','Ankur','Chris']
names = list(filter(name_check,names))
names

['Bidisha']

### Use reduce() (from functools) to find the product of [2,3,4,5].

In [13]:
from functools import reduce

numbers = [2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)

120

### Given [1,2,3,4,5], write a one-liner that doubles odd numbers but keeps even numbers same.

In [16]:
nums = [1,2,3,4,5]
nums = [i**2 if i%2 != 0 else i for i in nums]
nums

[1, 2, 9, 4, 25]

### Sort a list of tuples by the second element:
data = [('A',5),('B',2),('C',8),('D',3)].

In [18]:
data = [('A',5),('B',2),('C',8),('D',3)]

data = sorted(data,key=lambda x: x[1])
data

[('B', 2), ('D', 3), ('A', 5), ('C', 8)]

# String & List Manipulation

### Write a function that returns all words in a string starting with a vowel.

In [3]:
test_str = "This is a test input for checking vowel words Out"

In [4]:
def vowel_chk(in_str:str):
    found = []
    for words in in_str.split():
        if words[0].upper() in ['A','E','I','O','U']:
            found.append(words)
    if found == []:
        return "No Vowel words found!"
    else:
        return found
    
print(vowel_chk(test_str))

['is', 'a', 'input', 'Out']

### Given "This is Python Programming", count how many words contain the letter “o”.

In [5]:
test_str = "This is Python Programming"

In [7]:
def O_chk(in_str:str):
    found = 0
    for words in in_str.split():
        if 'o' in words.lower():
            found+=1
    return found
    
print("Word count with O = ",O_chk(test_str))

Word count with O =  2

### Flatten this nested list [[1,2],[3,4],[5,6]] into [1,2,3,4,5,6] using a one-liner.

In [1]:
data = [[1,2],[3,4],[5,6]]
flat_list = [item for sublist in data for item in sublist]
flat_list

[1, 2, 3, 4, 5, 6]

### Find all common elements between two lists without using loops.

In [3]:
def find_common(lst1:list, lst2:list):
    set1 = set(lst1)
    set2 = set(lst2)

    common = set1.intersection(set2)
    return list(common)

print("Common elements",find_common([1,2,5,1,3,4,3],[2,9,1,2,5,2,3]))

Common elements [1, 2, 3, 5]

### Reverse every word in a sentence but keep word order same (e.g. "Hello World" → "olleH dlroW").

In [11]:
data = "Hello World"

def word_rev(in_str:str):
    in_str = in_str.split()
    for i in range(len(in_str)):
        in_str[i] = in_str[i][::-1]
    in_str = " ".join(in_str)
    return in_str

print(word_rev(data))

olleH dlroW